@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

html {
  font-family: "Orbitron", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50rem;
  background-color: SeaShell;
  height: 100%;
}

.container {
  background: LightBlue;
  padding: 20px;
  border-radius: 8px;
}

.content {
  width: 100%;
  margin-top: 1.7em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.row button {
  width: 16.7%;
  height: 2.2rem;
  font-size: 18px;
  font-style: oblique;
  border: none;
  outline: none;
  margin: 1.2%;
  border-radius: 12px;
  box-shadow: 5px 5px 5px DarkBlue;
  background-color: CornflowerBlue;
  color: #fff;
  font-weight: 600;
}

.display #screen {
  background-color: CornflowerBlue;
  box-shadow: inset 5px 5px 5px DarkBlue;
  color: #fff;
  margin-bottom: 0.5em;
  width: 95%;
  height: 60px;
  font-size: 35px;
  outline: none;
  border: none;
  text-align: right;
  padding-right: 0.5em;
  margin-right: 0.5em;
  border-radius: 6px;
}

#eval {
  width: 98.5%;
  font-size: large;
  font-weight: 600;
  background: Salmon;
  color: #fff;
}

#ce,
#ac {
  font-weight: 600;
  background: Salmon;
  color: #fff;
}

#eval:hover,
#ac:hover,
#ce:hover,
.row button:hover {
  background: orange;
}

@media screen and (max-width: 430px) {
  .row button {
    width: 16%;
    height: 2.4rem;
    font-size: 15px;
  }
}
